<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<title>Burgers</title>
		 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/js/burger.js"></script>
		<link href="https://fonts.googleapis.com/css?family=Lobster|Pacifico|Roboto+Slab" rel="stylesheet">
	</head>
	<body>
       
		{{{ body }}}
		
	</body>
	<footer>
		Copyright © 2018 Perla E Ballesteros
	</footer>
</html>