
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <img id="sunflower" src="/assets/img/sunflower.png" alt="friends not food">
            <h1 id="mainHeading">Plant Based Burgers</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3"></div>
        <div id="col2"class="col-lg-3">
            <!--DISPLAY NOT DEVOURED-->
            <div id="newBurgerscontainer">
                <h2 id="newBurgersheading">Burgers to Try</h2>
                <ul id="newBurgerslist">
                    {{#each burgers}}
                    <!--if falsy-->
                    {{#unless devoured}}
                    <li>
                    {{burger_name}}
                        <button class="change-devour" data-id="{{id}}" data-newdevour="{{devoured}}">Devour</button>
                    </li>
                    {{/unless}}
                    {{/each}}
                </ul>
            </div>
        </div>
        <div id="col3" class="col-lg-3">
            <!--DISPLAY DEVOURED-->
            <div id="devouredBurgerscontainer">
                <h2 id="devouredBurgersheading">Burgers Devoured</h2>
                <ul id="devouredBurgerslist">
                    {{#each burgers}}
                    <!--if truthy-->
                    {{#if devoured}}
                    <li>
                        {{burger_name}}
                    </li>
                    {{/if}}
                    {{/each}}
                </ul>
            </div>
        </div>
        <div class="col-lg-3"></div>
    </div>
    <div class="row">
        <div class="col-lg-3"></div>
        <div id="friends" class="col-lg-3">
             <center><img id="friendsimg" src="/assets/img/friends.png" alt="friends not food"></center>
        </div>
        <div id="add" class="col-lg-3">
            <!--ADD NEW BURGER-->
            <h2 id="addHeading">Add a Burger</h2>
            <div id="addNewburgerContainer">
                <form class="create-form">
                    <label id="label" for="bu">Burger Name:</label>
                    <input type="text" id="bu" name="burger_name">
                    <button type="submit">Add Burger</button>
                </form>
            </div>
            
        </div>
    </div>
    <div class="row">
        <div id="cover"class="col-lg-12">
           
        </div>
    </div>
</div>



    